.workspace-leaf-content[data-type="scene-navigator-view"] .view-content {
  padding-top: var(--size-4-1);
}

.workspace-leaf-content[data-type="scene-navigator-view"]
  .scene-navigator-divider {
  border-top: var(--border-width, 1px) solid
    var(--divider-color, var(--background-modifier-border));
  margin: var(--size-4-2) var(--size-4-2);
}

.workspace-leaf-content[data-type="scene-navigator-view"]
  .scene-navigator-item
  .tree-item-inner {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
